@use "sass:map";
@use "../functions" as f;

// カラー
//--------------------------
$cr-black: #333333;
$cr-white: #fff;
$cr-blue-dark: #002546;
$cr-blue: #002fff48;
$cr-blue-light: #6b89ff42;
$cr-gray-light: #f5f5f5;
$cr-gray: #bcbcbc;
$cr-gray-dark: #656565;
$cr-yellow: #e4ff27;

$cr-bg: $cr-white;
$cr-bg-gray: $cr-gray-light;
$cr-main: $cr-blue-dark;
$cr-accent: $cr-blue-light;
$cr-error: #ff0000;
$cr-link: #437bba;
$cr-focus: #ffa500;

// マウスホバー
//--------------------------
$opacity: 0.8;

// 陰
//--------------------------
$shadow: 0px 0px 10px #00000029;

// フォント
//--------------------------
$ff-base: "nsjp", sans-serif;
$ff-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
	monospace;
$fz-base: f.rem(16);
$fw-base: 400;
$lh-base: 1.6;
$ls-base: 0.08em;

// レイアウトサイズ
//--------------------------
$layout-width-inner: 1200px;
$inner-size: (
	"sp": 600px,
	"sm": 1000px,
	"md": 1200px,
	"lg": 1400px,
);

$breakpoint-size: (
	"sm": 576,
	"md": 768,
	"lg": 1000,
	"xl": 1280,
	"xxl": 1700,
);

// ブレークポイント (SP基準)
$breakpoints: (
	sp: "not (min-width: #{map.get($breakpoint-size,'md')}px)",
	sm: "(min-width: #{map.get($breakpoint-size,'sm')}px)",
	md: "(min-width: #{map.get($breakpoint-size,'md')}px)",
	lg: "(min-width: #{map.get($breakpoint-size,'lg')}px)",
	xl: "(min-width: #{map.get($breakpoint-size,'xl')}px)",
	xxl: "(min-width: #{map.get($breakpoint-size,'xxl')}px)",
	hover: "(hover: hover)",
);

// ヘッダー高さ
//--------------------------
$header-height-sp: 60px;
$header-height-pc: 80px;

// 重なり順
//--------------------------
$layer: (
	//ローディング
	loading: 300,
	//モーダル
	modal: 100,
	//ドロワー
	drawer: 60,
	//フローディング
	floating: 50,
	//ヘッダー
	header: 40,
	//ドロワー
	drawer-contents: 30,
	//フッター
	footer: 20,
	//アニメーションオブジェクト
	object: 10,
	//基準
	default: 1
);

// 余白
//--------------------------
$pd-pc: 40px; //PC
$pd-sp: 24px; //SP
