@use "./setting" as s;
@use "./functions" as f;
// メディアクエリー

@mixin mq($breakpoint: md) {
	@media #{map-get(s.$breakpoints, $breakpoint)} {
		@content;
	}
}

// ホバー
@mixin hover() {
	@media (hover: hover) {
		transition: opacity 0.3s;

		&:hover {
			opacity: s.$opacity;
		}
	}
}

// WordPressコンテンツ
@mixin entry-content() {
	p {
		margin-top: 1.2em;
		margin-bottom: 0.8em;
		font-size: s.$fz-base;
		font-family: s.$ff-base;
		font-weight: s.$fw-base;
		color: s.$cr-black;
		line-height: 2;
		letter-spacing: s.$ls-base;
		overflow-wrap: break-word;

		@include mq("lg") {
			font-size: f.rem(17);
		}
	}

	h1 {
		margin-top: 1.2em;
		margin-bottom: 0.8em;
		font-size: f.rem(26);
		font-weight: 700;
		line-height: 1.4;

		@include mq("lg") {
			font-size: f.rem(36);
		}
	}

	h2 {
		font-size: f.rem(24);
		line-height: 1.4;
		font-weight: 700;
		margin-top: 3em;
		margin-bottom: 1em;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		border-bottom: 1px solid s.$cr-gray;

		@include mq("lg") {
			font-size: f.rem(30);
		}
	}

	h3 {
		font-size: f.rem(20);
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: 1.4;
		font-weight: 700;

		@include mq("lg") {
			font-size: f.rem(24);
		}
	}

	h4,
	h5,
	h6 {
		font-size: f.rem(16);
		margin-top: 2em;
		margin-bottom: 0.5em;
		line-height: 1.4;
		font-weight: 700;

		@include mq("lg") {
			font-size: f.rem(18);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		+ p {
			margin-top: 0;
		}
	}

	hr {
		margin-top: 22px;
		margin-bottom: 22px;
		border-top: 1px solid s.$cr-gray;
		border-bottom: none;

		@include mq("md") {
			margin-top: 46px;
			margin-bottom: 46px;
		}
	}

	ul {
		list-style-type: disc;
		padding-left: 1.5em;
		margin-top: 1.5em;
		margin-bottom: 1.5em;

		li {
			&::marker {
				color: s.$cr-gray-dark;
			}
		}

		ul,
		ol {
			margin: 0;
		}

		ul {
			list-style-type: circle;

			ul {
				list-style-type: square;
			}
		}
	}

	ol {
		list-style-type: decimal;
		padding-left: 1.5em;
		margin-top: 1.5em;
		margin-bottom: 1.5em;

		ul,
		ol {
			margin: 0;
		}
	}

	li {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		line-height: 1.8;
	}

	figure {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}

	blockquote {
		background: s.$cr-gray;
		border-left: 4px solid s.$cr-gray-dark;
		padding: 1em;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		line-height: 1.8;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}

		p {
			margin-top: 1em;
		}

		cite {
			text-align: right;
			display: block;
			font-style: normal;
		}
	}

	q {
		background: #eee;
		display: inline-block;
		vertical-align: middle;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}

	strong,
	em,
	b {
		font-weight: 700;
		font-style: normal;
	}

	a {
		cursor: pointer;
		color: s.$cr-link;
		font-weight: 500;

		&[href*="tel:"] {
			@include mq("md") {
				text-decoration: none;
				pointer-events: none;
				color: inherit;
				border: none;
			}
		}
	}

	table {
		border: none;
	}

	th {
		background: s.$cr-gray-light;
	}

	td {
	}

	th,
	td {
		border: 1px solid s.$cr-gray !important;
		padding: 15px 10px;

		@include mq("md") {
			padding: 20px;
		}
	}

	strong {
		font-weight: 700;
	}

	em {
		font-weight: 700;
		background: linear-gradient(to bottom, transparent 50%, s.$cr-accent 100%);
	}

	code:not(pre code) {
		font-family: s.$ff-code;
		letter-spacing: normal;
		border: 1px solid s.$cr-gray;
		border-radius: 0.2em;
		margin: 0 0.1em;
		line-height: 1;
		background-color: s.$cr-gray-light;
		padding: 0.2em 0.3em;
		font-size: 0.9em;
		font-weight: 700;
	}

	video,
	img {
		max-width: 100%;
	}

	iframe {
		display: block;
		aspect-ratio: 16/12;
		width: 100%;

		@include mq("sm") {
			aspect-ratio: 16/9;
		}
	}

	.wp-block-lazyblock-example-block {
		margin-top: 20px;
		margin-bottom: 20px;

		@include mq("md") {
			margin-top: 42px;
			margin-bottom: 42px;
		}
	}

	.wp-block-lazyblock-youtube {
		margin-top: 14px;
		margin-bottom: 14px;

		@include mq("md") {
			margin-top: 24px;
			margin-bottom: 24px;
		}
	}

	.wp-block-group {
		border-radius: 12px;
		background: #e7efef;
		margin-top: 20px;
		padding: 15px;

		@include mq("md") {
			margin-top: 40px;
			padding: 32px 34px;
		}
	}
}

@mixin block() {
	// 引用
	.wp-block-quote {
		> p {
		}

		> cite {
		}
	}

	// 画像
	.wp-block-image {
		display: inline-block;
		> img {
		}

		figcaption {
			font-size: f.rem(13);
		}
	}

	.wp-block-group {
	}

	.wp-block-group__inner-container {
		> :first-child {
			margin-top: 0;
		}
	}

	// ギャラリー
	.wp-block-gallery {
	}

	.blocks-gallery-item {
		> figure {
			> img {
			}

			> figcaption {
			}
		}
	}

	// オーバーレイ
	.wp-block-cover {
	}

	.wp-block-cover-text {
	}

	// ファイル
	.wp-block-file {
	}

	.wp-block-file__button {
	}

	// 動画
	.wp-block-video {
		> video {
		}

		> figcaption {
		}
	}

	// プルクオート
	.wp-block-pullquote {
		> blockquote {
			> p {
			}

			> cite {
			}
		}
	}

	// ソースコード
	.wp-block-code {
		> code {
		}
	}

	// 整形済み
	.wp-block-preformatted {
		> code {
		}
	}

	.wp-block-flexible-table-block-table {
		tr {
		}

		th,
		td {
		}

		th {
		}

		td {
		}
	}

	// テーブル
	.wp-block-table {
		tr {
		}

		th,
		td {
		}

		th {
		}

		td {
		}
	}

	// 詩
	.wp-block-verse {
	}

	// ボタン
	.wp-block-button {
	}

	a.wp-block-button__link {
		text-decoration: none;
		margin: 1em 0;
	}

	// カラム
	.wp-block-columns {
	}

	.wp-block-column {
		> :first-child {
			margin-top: 0;
		}
	}

	// メディアと文章
	.wp-block-media-text {
	}

	.wp-block-media-text__media {
		> img {
		}
	}

	.wp-block-media-text__content {
	}

	// カレンダー
	.wp-block-calendar {
		table {
			caption {
			}

			tr {
			}

			th,
			td {
			}

			th {
			}

			td {
			}
		}
	}

	// アーカイブ
	.wp-block-archives {
		li {
			a {
			}
		}
	}

	.wp-block-categories {
		li {
			a {
			}
		}
	}

	.wp-block-latest-comments {
	}

	.wp-block-latest-comments__comment {
		> img {
		}
	}

	// 最新の記事
	.wp-block-latest-posts {
		li {
			a {
			}
		}
	}

	// 検索
	.wp-block-search {
	}

	.wp-block-search__label {
	}

	.wp-block-search__input {
	}

	.wp-block-search__button {
	}

	// タグクラウド
	.wp-block-tag-cloud {
		a {
		}
	}

	// 埋め込み
	.wp-block-embed {
	}

	// YouTube
	.wp-block-embed-youtube {
	}

	.wp-block-embed__wrapper {
		> iframe {
		}
	}

	// オーディオ
	.wp-audio-shortcode {
	}
}
