@use "./variables" as v;

// フォーム
//--------------------------
$cr-form-bd: v.$cr-gray; //フォームのボーダーカラー
$cr-form-bg: #fff; //フォーム入力欄の背景色
$cr-form-bd-active: v.$cr-focus; //アクティブなフォームのボーダーカラー
$cr-radio: v.$cr-main; //ラジオボタン
$cr-radio-active: v.$cr-main; //アクティブなラジオボタン
$size-radio: 20px; //ラジオボタンのサイズ
$size-radio-active: 10px; //チェックされたブラジオボタンのサイズ
$size-radio-pd-left: 24px; //ラジオボタンとテキストの余白
$cr-checkbox: v.$cr-main; //チェックボックスのカラー
$cr-check-active: v.$cr-main; //チェックされたチェックボックスのカラー
$size-checkbox: 20px; //チェックボックスのサイズ
$size-checkbox-pd-left: 24px; //チェックボックスの余白
